* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header, footer {
  position: relative;
  z-index: 101;
}

.header-sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-sidebyside {
    background-color: #2196F3;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.background-style {
    background-color: #d2e8fb;
}

#pokemon-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 160px 40px 160px 40px;
}

.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.hover-effect:hover {
    transform: scale(1.15);
    transition: 0.4s;
}

.footer-style {
    background-color: #2196F3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.1);
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
  color: white;
  text-align: center;
  max-width: 300px;
}

.overlay-pokemon {
  max-width: 200px;
  margin-bottom: 15px;
}

.overlay-info {
  font-size: 16px;
  line-height: 1.5;
}

.overlay-background {
  background-color: #9e9e9e;
  padding: 4px;
  border-radius: 8px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.3);
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  padding: 10px;
  user-select: none;
  transition: background-color 0.3s;
}

.nav-btn.left { left: 10%; }
.nav-btn.right { right: 10%; }