main {
    background-color: #171b1e;
}

h1 {
    color: white;
}

.grass {
    background-color: #78C850;
    padding: 8px;
}

.fire {
    background-color: #F08030;
    padding: 8px;
}

.water {
    background-color: #6890F0;
    padding: 8px;
}

.bug {
    background-color: #A8B820;
    padding: 8px;
}

.normal {
    background-color: #A8A878;
    padding: 8px;
}

.poison {
    background-color: #A040A0;
    padding: 8px;
}

.electric {
    background-color: #F8D030;
    padding: 8px;
}

.ground {
    background-color: #E0C068;
    padding: 8px;
}

.fairy {
    background-color: #A8A878;
    padding: 8px;
}

.fighting {
    background-color: #C03028;
    padding: 8px;
}